@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:wght@100&family=Sriracha&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor1: #008000;
    --cor2: #47A025;
    --cor3: #ffffff;
    --cor4: #e4e3e3;
    --cor5:#f2efea4e;
    --corIcon: #ffffff;
    --corHover: #9d9d9d42;
    --corBlack: #000000;
    --font1: Roboto, 'Open Sans', sans-serif;
    --font2: Arial, Helvetica, sans-serif;
}

html body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: rgba(0, 128, 0, 0.945);
}

ul li {
    list-style: none;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: flex;
    flex-direction: column;
    border: solid 3px var(--cor1);
    width: 430px;
    height: 620px;
    font-size: 18px;
    border: solid 2.5px var(--cor2);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 100px 0px #ffffff;
}


.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 15px 10px;
    font-family: var(--font2);
}

.inputs > div{
    display: flex;
    flex-direction: column;
}

.inputs > div > label {
    margin: 0px 0px 0px 10px;
}

.inputs > div > input{
    outline: none;
    width: 350px;
    margin: 0px 0px 0px 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--corHover);
    border: none;
}

.areaCadastre > p > a {
    color: var(--cor1);
}

input:focus{
    outline: none;
    border-bottom: 2.2px solid var(--cor2);
}

.btnLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btnLogin > button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--cor3);
    color: var(--cor1);
    border: 3px solid var(--cor2);

    transition: .3s;
}

.btnLogin > button:hover{
    color: var(--cor3);
    background-color: var(--cor2);
    transform: translateY(-3px);
}
/*Tablet*/
@media (min-width: 650px){

    main > section{
        width: 400px;
        height: 600px;
    }

    .inputs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*PC*/
@media (min-width: 1000px){

    html body{
        background-image: linear-gradient(to right, #015f01, #48a025bc);
       /* background: linear-gradient(to right, black, #640064);*/
    }

    main > section{
        display: flex;
        flex-direction: row;
        width: 800px;
        height: 770px;
        box-shadow: 0px 0px 50px 0px #ffffff;
    }

    .inputs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputs > div > input{
        width: 500px;
        font-size: 18px;
    }

    .btnLogin > button {
        height: 50px;
    }
}