@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:wght@100&family=Sriracha&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor1: #008000;
    --cor2: #47A025;
    --cor3: #ffffff;
    --cor4: #e4e3e3;
    --cor5:#f2efea4e;
    --corIcon: #ffffff;
    --corHover: #9d9d9d42;
    --corBlack: #000000;
    --font1: Roboto, 'Open Sans', sans-serif;
    --font2: Arial, Helvetica, sans-serif;
}

html body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: rgba(0, 128, 0, 0.945);
}

ul li {
    list-style: none;
}
/*Menu*/
#menuHamburguer{
    width: 280px;
    background-color: var(--cor2);
    font-family: var(--font1);
    font-weight: 800;
    position: absolute;
    height: 100%;
    z-index: 999;
    display: none;
    
    top: 100px;
    transition: .3s;
}

.icon-menu {
    color: var(--corIcon);
}

.bi.bi-list {
    font-size: 25px;
}

.item-menu{
    display: block;
    margin: 8px 0px;
    padding: 12px 15px;
    transition: .2s;
}

.item-menu:hover {
    background-color: var(--cor5);
}

ul > li  a{
    color: var(--cor3);
    text-decoration: none;
    list-style: none;
}

/*Header*/
header {
    display: none;
    position: fixed;
    height: 100px;
    width: 100%;
    border-bottom: solid 3px var(--cor1);
    background-color: var(--cor2);
}

#hamburguer {
    background-color: transparent;
    position: fixed;
    color: var(--corIcon);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
    border: none;
    z-index: 999;
    
    top: 19px;
    left: 0;
}

#hamburguer:hover{
    background-color: var(--cor5);
    transition: .4s;
} 

#hamburguer > i {
    font-size: 40px;
}

.logo{
    position: absolute;

    top: 40px;
    left: 120px;
}

.login{
    position: absolute;
    font-size: 18px;
    font-family: var(--font2);
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--cor3);
    cursor: pointer;
    border-radius: 5px;
    border: solid 3px var(--cor1);

    top: 32px;
    right: 100px;
    transition: transform .3s;
}

.login:hover{
    transform: translateY(-5px);
}

.login > a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: 600;
}

.perfil{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    color: var(--cor3);

    top: 40px;
    right: 40px;
}

/*Main*/
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: flex;
    flex-direction: column;
    border: solid 3px var(--cor1);
    width: 400px;
    height: 520px;
    font-size: 18px;
    border: solid 2.5px var(--cor2);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 100px 0px #ffffff;
}

#imagem{
    background-image: url('../imagens/cachorro-pequeno.jpg');
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
    font-family: var(--font2);
}

.inputs > h1 {
    color: var(--cor2);
    font-size: 32px;
}

.areaEmail{
    margin: 5px;
    display: flex;
}

.areaEmail > input {
    outline: none;
    width: 280px;
    margin: 0px 0px 0px 10px;
    padding-left: 2px;
    font-size: 16px;
    border: 0;
    border-bottom: 2px solid var(--corBlack);
}

.areaSenha{
    margin: 5px;
    display: flex;
}

.areaSenha > input{
    outline: none;
    width: 280px;
    margin: 0px 0px 0px 5px;
    padding-left: 2px;
    font-size: 16px;
    border: 0;
    border-bottom: 2px solid var(--corBlack);
}

.areaCheckbox{
    display: flex;
    gap: 10px;
    margin: 5px 5px;
}

input:focus{
    outline: none;
    border-bottom: 2.2px solid var(--cor2);
}

.areaCadastre {
    display: flex;
    gap: 5px;
    margin: 0px 5px;
}

.areaCadastre > a {
    color: var(--cor1);
}

.btnLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btnLogin > button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--cor3);
    color: var(--cor1);
    border: 3px solid var(--cor2);

    transition: .3s;
}

.btnLogin > button:hover{
    color: var(--cor3);
    background-color: var(--cor2);
    transform: translateY(-2px);
}

/*Tablet*/
@media (min-width: 650px){

    main > section{
        display: flex;
        flex-direction: row-reverse;
        width: 700px;
        height: 300px;
    }
    
    #imagem {
        height: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}


@media (min-width: 1000px){
    main > section{
        display: flex;
        flex-direction: row;
        width: 950px;
        height: 400px;
    }

    .inputs {
        margin-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #imagem {
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .areaEmail > input {
        width: 300px;
    }

    .areaSenha > input {
        width: 300px;
    }
}