@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:wght@100&family=Sriracha&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor1: #008000;
    --cor2: #47A025;
    --cor3: #ffffff;
    --cor4: #e4e3e3;
    --cor5:#f2efea4e;
    --corIcon: #ffffff;
    --corHover: #9d9d9d42;
    --corHover2: #9d9d9def;
    --font1: Roboto, 'Open Sans', sans-serif;
    --font2: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 10px;    
}

::-webkit-scrollbar-track{
    background-color: var(--cor3);
}

::-webkit-scrollbar-thumb{
    background: var(--cor1);
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

ul li {
    list-style: none;
}
/*Menu*/
#menuHamburguer{
    width: 280px;
    background-color: var(--cor2);
    font-family: var(--font1);
    font-weight: 800;
    position: fixed;
    height: 100%;
    z-index: 999;
    display: none;
    
    top: 100px;
    transition: .3s;
}

.icon-menu {
    color: var(--corIcon);
}

.bi.bi-list {
    font-size: 25px;
}

.item-menu{
    display: block;
    margin: 8px 0px;
    padding: 12px 15px;
    transition: .2s;
}

.item-menu:hover {
    background-color: var(--cor5);
}

ul > li  a{
    color: var(--cor3);
    text-decoration: none;
    list-style: none;
}

/*Header*/

header {
    position: fixed;
    height: 100px;
    width: 100%;
    border-bottom: solid 3px var(--cor1);
    background-color: var(--cor2);
    z-index: 2;
}

#hamburguer {
    background-color: transparent;
    position: fixed;
    color: var(--corIcon);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
    border: none;
    z-index: 999;
    
    top: 19px;
    left: 0;
}

#hamburguer:hover{
    background-color: var(--cor5);
    transition: .4s;
} 

#hamburguer > i {
    font-size: 40px;
}

.logo{
    position: absolute;

    top: 40px;
    left: 100px;
}

.login{
    position: absolute;
    font-size: 18px;
    font-family: var(--font2);
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--cor3);
    cursor: pointer;
    border-radius: 5px;
    border: solid 3px var(--cor1);

    top: 32px;
    right: 100px;
    transition: transform .3s;
}

.login:hover{
    transform: translateY(-5px);
}

.login > a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: 600;
}

.perfil{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    color: var(--cor3);

    top: 40px;
    right: 40px;
}

#areaPerfil{
    display: none;
    position: fixed;
    background-color: var(--cor3);
    width: 200px;
    height: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999;
   

    right: 20px;
}

#areaPerfil > div ul > li > a {
    color: black;
}

.itensPerfil {
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    display: block;
}

.itensPerfil:hover{
    background-color: var(--corHover);
}

#sair{ color: red;}

/*Main*/

main{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    
    background-color: var(--cor4);
    display: flex;
    justify-content: center;
    /*position: relative;*/
    font-family: var(--font1);
}

.areaDoProduto{
    background-color: var(--cor3);
    width: 500px;
    position: relative;
}

/*Carrossel*/
.container-slider{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /*Muda a img*/
}

.container-images img{
    width: 100%;
}

.slider{
    opacity: 0;
    position: absolute;
    width: 100%;
    border-radius: 10px;

    transition: opacity .2s;
    top: 10px;
}

.on{
    opacity: 1;
}

#prev-button{
    transform: rotate(180deg);
    position: absolute;
    z-index: 1;

    top: 130px;
    left: 10px;
    transition: .5s;
}

#next-button{
    position: absolute;

    top: 130px;
    right: 10px;
    transition: .5s;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--corHover2);
    cursor: pointer;
}

#prev-button:hover {
    background-color: var(--corHover2);
}

#next-button:hover{
    background-color: var(--corHover2);
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

/*FIM do Carrossel*/

.conteudoDoProduto{
    margin: 300px 15px 0px 15px;
}

.conteudoDoProduto > h1 {
    font-size: 28px;
    padding: 5px 0px;
}

.conteudoDoProduto > h2 {
    font-size: 26px;
    padding: 5px 0px;
}

.conteudoDoProduto > p{
    font-size: 20px;
    text-align: justify;
}

/*Tablet*/
@media (min-width: 600px) {
    
    .areaDoProduto{
        width: 800px;
    }
    .conteudoDoProduto{
        margin-top: 500px;
    }
    #prev-button{
        transform: rotate(180deg);
        position: absolute;
        z-index: 1;
    
        top: 200px;
        left: 10px;
        transition: .5s;
    }
    
    #next-button{
        position: absolute;
    
        top: 200px;
        right: 10px;
        transition: .5s;
    }
}

@media (min-width: 1000px){
    .areaDoProduto{
        width: 1200px;
    }
    .conteudoDoProduto{
        margin-top: 700px;
    }
    #prev-button{
        transform: rotate(180deg);
        position: absolute;
        z-index: 1;
    
        top: 300px;
        left: 20px;
        transition: .5s;
    }
    
    #next-button{
        position: absolute;
    
        top: 300px;
        right: 20px;
        transition: .5s;
    }
}